# Module related files
node_modules
build

# Lerna files
lerna.debug.log

# Builds
packages/*/build
packages/*/*.tsbuildinfo
packages/*/.cache
example/build
example/data

# IDE related files
.idea

# NPM stuff
.npmrc

# Coverage
coverage
